PORT=3000
DATABASE_FILE=./data/hisabsaathi.db
CORS_ORIGIN=http://localhost:3000

PAYMENT_PROVIDER=upi_manual

WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_API_VERSION=v23.0
ADMIN_WHATSAPP_TO=916206769679

SMS_PROVIDER_URL=
SMS_PROVIDER_TOKEN=
WORKER_INTERVAL_MS=60000
ADMIN_VERIFY_SECRET=
ADMIN_NOTIFICATION_WEBHOOK_URL=
ADMIN_NOTIFICATION_SECRET=
UPI_WEBHOOK_SECRET=
PAYMENT_UPLOAD_DIR=./data/payment-proof
